body {
    font-family: Arial, sans-serif;
}

.chat-container {
    position: fixed;
    bottom: 60px;
    right: 20px;
    border-radius: 5px;
    display: none;
    
}

.chat-container-inbox {
    text-align: center;
}

.chat-sub-btn{
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-right: 15px;
    border-radius: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.315);
    padding-top: 20px;
    padding-bottom: 20px; 
    background-color: #fffffff8;
    vertical-align: top;
}
.chat-head-btn {
    background-color: #01b901; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 30px;
    margin-bottom: 40px;
    width: 100%;
    border-radius: 50%;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.chat-head-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(165, 177, 167, 0.3); /* สีขาวโปร่งใส */
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0); /* เริ่มต้นที่ขนาด 0 */
    transition: transform 0.3s; /* เพิ่มการเปลี่ยนแปลงขนาด */
    z-index: -1; /* วงกลมอยู่ด้านหลังปุ่ม */
}

.chat-head-btn:hover::after {
    background-color: rgba(241, 241, 241, 0.897); /* สีขาวโปร่งใส */
    transform: translate(-50%, -50%) scale(1.4); /* ขยายวงกลมเมื่อ hover */
}

.logo {
    width: 30px;
    height: 30px;
}
button{
    padding: 10px 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    /* margin: 10px; */
    transition: all 0.25s ease;
}

.btn-tel {
    color: #fff; 
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px -0px 0px 0px rgba(248, 76, 64, 0.5)
    , 0px 0px 0px 0px rgba(255, 187, 39, 0.5);
}
.btn-tel:hover {
    transform: translate(0, -2px);
    box-shadow: 2px -2px 25px 0px rgba(248, 76, 64, 0.5)
    , -2px 2px 25px 0px rgba(255, 187, 39, 0.5);
}

.btn-tel:hover::after {
    transform: rotate(150deg);
}

.btn-tel::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ffae00;
    background-image: linear-gradient(225deg, #d86827 0%, #f8c726 50%, #d03925 100%);
    z-index: -1;
    transition: all 0.25s ease;
}

.btn-line {
    margin: 10px;
    color: #fff; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px -0px 0px 0px rgba(85, 248, 64, 0.5)
    , 0px 0px 0px 0px rgba(39, 255, 226, 0.5);
}
.btn-line:hover {
    transform: translate(0, -2px);
    box-shadow: 2px -2px 25px 0px rgba(85, 248, 64, 0.5)
    , -2px 2px 25px 0px rgba(39, 255, 226, 0.5);
}

.btn-line:hover::after {
    transform: rotate(150deg);
}

.btn-line::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #00c300;
    background-image: linear-gradient(225deg, #27d880 0%, #62f826 50%, #07c300 100%);
    z-index: -1;
    transition: all 0.25s ease;
}

.btn-facebook {
    margin: 10px;
    color: #fff; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px -0px 0px 0px rgba(64, 92, 248, 0.5)
    , 0px 0px 0px 0px rgba(39, 187, 255, 0.5);
}
.btn-facebook:hover {
    transform: translate(0, -2px);
    box-shadow: 2px -2px 25px 0px rgba(64, 92, 248, 0.5)
    , -2px 2px 25px 0px rgba(39, 187, 255, 0.5);
}

.btn-facebook:hover::after {
    transform: rotate(150deg);
}

.btn-facebook::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #007bff;
    background-image: linear-gradient(225deg, #3327d8 0%, #2688f8 50%, #2400c3 100%);
    z-index: -1;
    transition: all 0.25s ease;
}

.chat-toggle {
    background-color: #c38f00;
    color: white;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.chat-toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 241, 241, 0.897); 
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transition: transform 0.3s; 
    
}

.chat-toggle:hover::after {
    background-color: rgba(241, 241, 241, 0.658); /* สีขาวโปร่งใส */
    transform: translate(-50%, -50%) scale(1.4); /* ขยายวงกลมเมื่อ hover */
    z-index: -1;
}


.popup{
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    background-color: white;
    border-radius: 7px;
    text-align: center;
    z-index: 1000;

    transform: translate(-50%, -50%); /* Center the popup */
    transition: opacity 0.5s ease; /* เพิ่มการเปลี่ยนแปลง */
    
}

.overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-btn {
    position: absolute; /* ใช้ตำแหน่ง absolute */
    top: 10px; /* ระยะห่างจากด้านบน */
    right: 10px; /* ระยะห่างจากด้านขวา */
    background: none; /* ไม่มีพื้นหลัง */
    border: none; /* ไม่มีกรอบ */
    font-size: 20px; /* ขนาดตัวอักษร */
    color: #000; /* สีตัวอักษร */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นมือ */

}
